SECRET_KEY=your-secret-key-here

DEBUG=True

ALLOWED_HOSTS=localhost,

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB="chage-me"
POSTGRES_USER="chage-me"
POSTGRES_PASSWORD="exemplo"
DB_HOST="localhost"
DB_PORT=5432